body {
  font-family: 'Segoe UI';
  margin: 0;
  padding: 0;
}

.table-container {
  display: flex;
  margin: 20px;
}

.table-wrapper {
  width: 49%;
  margin-right: 2%;
}

.table-header {
  background-color: #f1f1f1;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-header:hover {
  background-color:rgb(255, 228, 196);
}

.table-content {
  display: none;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #fff;
}

th, td {
  border: 1px solid #fff;
  padding: 8px;
  text-align: left;
}

.arrow {
  font-size: 20px;
  margin-left: 10px;
  transform: rotate(90deg); 
}


.table-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
