body{
  padding: 0 8% 0 8%;
  margin: 0;
  font-family: 'Segoe UI';
}
.google-map {
  padding-bottom: 50%;
  position: relative;
  margin: 20px;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  margin: 20px;
}
h2{
  text-align: center;
  background-color: rgb(255, 228, 196);
  padding: 20px;
  margin: 10px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

